# Introduction to Markdown

Colab has two types of cells: text and code. Text cells are formatted using a simple markup language called Markdown.

## Bold, Italics, and Underline

Surround the word with double asterisk to make it **bold**.

Surround the word with single underscore to make it _italics_. You may use aldo the single asterisk to *italicized*.

You may use the html tag <u>Underline me</u> to underline a word.

## Paragraphs, Images, Hyperlinks

>Use the greater than symbol (>) to indent the paragraph. Strike two times the enter key to move to the next line.
>>If there is a sub-paragraph, use the double greater than symbol.

Use the syntax "[Name of the link] (URL)" to include hyperlink in your notebook.
Example: [NEUVLE](https://neuvle.neu.edu.ph).

Use the syntax ![Google Logo](https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png)

Alternatively, you may use the img html tag:
<img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" width=25%>

## Bullets

You may use the single dash to itemize.

The following topics will be discussed in Business Analytics.
- Descriptive Analytics
- Predictive Analytics
- Prescriptive Analytics

Or, use this format to put numbers.

You must possess the skills below to learn its application:
1. Statistics
2. Python
3. Machine Learning

# Python Basics
Learn the basics of python and its data types.

## Input and Output

In [ ]:
# Input name and display name
name = input("Enter name: ")
print("Your name is", name) # first version of the print
print("\n" + name + " is your name") # second version
print(f"{name} is the name, soon it will be a legend!")

age = 21 # integer data type
print(f"\nYour age is\t {age}") # you cannot combine integer to string. python 3.6

Enter name: Faye
Your name is Faye

Faye is your name
Faye is the name, soon it will be a legend!

Your age is	 21

## Data Type

### String

In [ ]:
name = "Faye Camille Buri" # variable name name
print(f"Your name is {name}")
print("Data type of name is", type(name))

Your name is Faye Camille Buri
Data type of name is <class 'str'>

### Integer

In [ ]:
number = 5
print(f"Number {number} is an integer!")
print(type(number))

Number 5 is an integer!
<class 'int'>

### Float

In [ ]:
# Decimal number
decimal_number = 12.123456
print(f"Decimal number is {decimal_number}")

# Float ay katumbas na ng double

Decimal number is 12.123456

### Boolean

In [ ]:
is_logged_in = True
print(is_logged_in)
print(is_logged_in == False)

# check data type
type(is_logged_in)

True
False

bool

### List (mutable - it can be changed)

In [ ]:
year_level = [1, 2, 3] # use square bracket for list
print(f"Current year level list is {year_level}")

# append another year: 4
year_level.append(4)
print(f"Updated year level is {year_level}")

# check data type
type(year_level)

Current year level list is [1, 2, 3]
Updated year level is [1, 2, 3, 4]

list

### Tuple (immutable - cannot be changed)

In [ ]:
dimensions = (10, 20) # uses parentheses
print(dimensions)
type(dimensions)

(10, 20)

tuple

### Dictionary

In [ ]:
# uses key-value pair, curly braces
student = { name: "Maria", age: 21, "program": "BSCS"}
print(f"Student name is {student[name]}")
print(f"Student age is {student[age]}")
print(f"Student program is {student['program']}")

print(f"Student is a {type(student)}")

Student name is Maria
Student age is 21
Student program is BSCS
Student is a <class 'dict'>

### Set

In [ ]:
setNumbers = {1,2,3,3,4} # uses curly braces
print(setNumbers)
type(setNumbers)

{1, 2, 3, 4}

set